html{
    scroll-behavior: smooth;
}

body
{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.my_navbar{
    width: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(252, 252, 252, 0.627);
    box-shadow: 0 5px 8px 0 rgba(152, 150, 150, 0.697);
    z-index: 10;
    top: 0;
    position: fixed;
    padding-top: 10px;
}

.navbar-brand{
    margin-right: 50px;
}

.nav_btn{
    list-style-type: none; 
}

.nav_item{
    padding: 10px;
}

.side_logo{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    height: 60px;
    filter: drop-shadow(2px 2px 5px rgb(70, 70, 70));
}

.my_pic{
    filter: drop-shadow(2px 2px 5px rgb(70, 70, 70));
}

.submitButton
{
    width: 200px;
}

textarea
{
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    border: white;
}

textarea:hover{
    box-shadow: 0 6px 12px 0 rgba(211, 5, 5, 0.484);
}

.input{
    border-radius: 8px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    border: white;
}

.input:hover{
    box-shadow: 0 6px 12px 0 rgba(211, 5, 5, 0.484);
}

.select_class{
    border-radius: 5px;
}

.my_form{

    width: 600px;
    border-radius: 10px;margin: auto;
    background-color: rgba(238, 236, 236, 0.86);
    box-shadow: 0 6px 10px 0 rgba(37, 37, 37, 0.697);
    padding: 20px;
}

.my_form:hover{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.575);
}

.youtube_video{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

td,th{
    padding: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table,td,th{
    border: 2px solid black;
}

.icon{
    width: 50px;
    padding: 10px;
}

hr{
    width: 90%;
    margin: auto;
    height: 2px;
    border: none;
    background: black;
}

.course{
    margin: 20px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.386);
    width: 340px;
    margin-bottom: 50px;
}

.course:hover{
    box-shadow: 0 10px 20px 0 rgba(0, 63, 250, 0.438);
}

.course_img{
    padding: 10px;
    border-radius: 20px;
}

.container{
    padding: 10px;
    text-align: left;
}

.card_desc{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.offer{
    display: inline;
    border-radius: 6px;
    padding: 5px;
    margin-left: 10px;
    background-color: lightgreen;
}

.cards{
    text-align: center;
}

.connect_leetcode{
    border-radius: 20px;
}

.connect{
    margin: 50px;
}

@media (width <= 600px)
{
    .my_form{
        width: 80%;
    }
    .side_logo{
        height: 40px;
        margin: 15px;
    }
    table{
        width: 90%;
    }
    .nav_btn{
        display: block;
        padding: 10px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(252, 252, 252, 0.566);
        border-radius: 10px;
        width: 100%;
    }
    .connect{
        margin: 40px;
    }
}
